/* --------------------------- navbar ------------------------------- */

@media (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-link span {
    display: none;
  }
  .navbar-collapse .navbar-nav .nav-item:nth-child(1):after,
  .navbar-collapse .navbar-nav .nav-item:nth-child(2):after,
  .navbar-collapse .navbar-nav .nav-item:nth-child(3):after,
  .navbar-collapse .navbar-nav .nav-item:nth-child(4):after {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-toggler {
    color: var(--bs-navbar-color);
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid #ff59004b;
    padding-top: 16px;
    align-content: start;
    flex-wrap: wrap;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .navbar-collapse .user {
    width: 32px;
    height: 32px;
  }
  .navbar-collapse .navbar-nav .nav-item:nth-child(1):after,
  .navbar-collapse .navbar-nav .nav-item:nth-child(2):after,
  .navbar-collapse .navbar-nav .nav-item:nth-child(3):after,
  .navbar-collapse .navbar-nav .nav-item:nth-child(4):after {
    display: block;
  }
  main .nav.nav-tabs {
    gap: 0;
  }
  main .content div[class="d-flex align-items-center justify-content-between"] {
    flex-direction: column-reverse;
    gap: 16px;
    margin-top: 16px;
  }
}
@media (max-width: 1200px) {
  img {
    /* object-position: 50% 50%; */
  }
  main div[class="p-0 col-12 col-xl-4"] {
    height: 500px;
  }
}
/* ----------------------------------------------------------------- */
