/* --------------------------- navbar ------------------------------- */

@media (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-link span{
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-toggler {
    color: var(--bs-navbar-color);
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid #ff59004b;
    padding-top: 16px;
    align-content: start;
    flex-wrap: wrap;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link span{
    display: block;
  }
}
/* ----------------------------------------------------------------- */
