/* --------------------------- navbar ------------------------------- */
@media (max-width: 992px) {
  .navbar .navbar-collapse .navbar-nav {
    margin: 0;
  }
}
/* ----------------------------------------------------------------- */
