/* --------------------------- global rules ------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #364153;
}
body::selection {
  background-color: var(--primary-color);
  color: #fff;
}
/* colors */
:root {
  --primary-color: #ff5b00;
}
.bg-blue-100 {
  background-color: oklch(93.2% 0.032 255.585);
}
.bg-orange-100 {
  background-color: oklch(95.4% 0.038 75.164);
}
.bg-yellow-100 {
  background-color: oklch(97.3% 0.071 103.193);
}
.bg-green-100 {
  background-color: oklch(96.2% 0.044 156.743);
}
.bg-red-100 {
  background-color: oklch(93.6% 0.032 17.717);
}
.bg-pink-100 {
  background-color: oklch(94.8% 0.028 342.258);
}
.text-pink-600 {
  color: oklch(59.2% 0.249 0.584);
}
.text-red-600 {
  color: oklch(57.7% 0.245 27.325);
}
.text-blue-600 {
  color: oklch(54.6% 0.245 262.881);
}
.text-orange-600 {
  color: var(--primary-color);
}
.text-yellow-600 {
  color: oklch(68.1% 0.162 75.834);
}
.text-green-600 {
  color: oklch(62.7% 0.194 149.214);
}
/* ----------------------------------------------------------------- */
/* --------------------------- tags ------------------------------- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}
/* ----------------------------------------------------------------- */
/* -------------------------- spatial class ------------------------- */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-24 {
  font-size: 24px;
}
/* ----------------------------------------------------------------- */
/* --------------------------- navbar ------------------------------- */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 -1px 5px 0 #00000047;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-brand {
  color: #364153;
}
.logo .icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
}
.logo .text span:nth-child(1) {
  font-size: 1.5rem;
}
.logo .text span:nth-child(2) {
  font-size: 0.875rem;
  line-height: 1;
}
.navbar .navbar-collapse .navbar-nav {
  margin-left: auto;
  width: fit-content;
}
.navbar-collapse .user {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--primary-color);
}
.navbar-collapse .nav-link i {
  font-size: 1.125rem;
}
.navbar-collapse .nav-item,
.navbar-collapse .nav-link i {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  cursor: pointer;
}
.navbar-collapse .nav-item:hover i,
.navbar-collapse .nav-item:hover {
  color: var(--primary-color);
}
.navbar-collapse .navbar-nav .nav-item:nth-child(1):after,
.navbar-collapse .navbar-nav .nav-item:nth-child(2):after,
.navbar-collapse .navbar-nav .nav-item:nth-child(3):after,
.navbar-collapse .navbar-nav .nav-item:nth-child(4):after {
  position: absolute;
  top: 3px;
  left: 40px;
  width: 100px;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(1):after {
  content: "Saved Recipes";
}
.navbar-collapse .navbar-nav .nav-item:nth-child(2):after {
  content: "Recent";
}
.navbar-collapse .navbar-nav .nav-item:nth-child(3):after {
  content: "Settings";
}
.navbar-collapse .navbar-nav .nav-item:nth-child(4):after {
  content: "Profile";
  top: 10px;
}
.navbar-toggler .fa-bars {
  font-size: 24px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.navbar-toggler .fa-bars:hover {
  color: var(--primary-color);
}
/* ----------------------------------------------------------------- */
/* -------------------------- main ------------------------------- */
main,
main .tab-content .Ingredients {
  background-color: #fffbea;
}
main {
  min-height: 100vh;
  padding: 100px 0 50px;
}
main .row[class="row bg-white rounded rounded-5"] {
  box-shadow: 0 10px 15px 0px #8080803d;
}
/* image */
main div[class="position-relative"],
main .image {
  height: 100%;
}
main div[class="position-relative"] .rounded-pill {
  top: 32px;
  left: 32px;
}
main .info {
  width: 90%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* content */
main span[class*="rounded-pill"] {
  font-size: 0.75rem;
}
main h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
main .content .icon div[class*="rounded rounded-3"] {
  color: var(--primary-color);
  background-color: #ffedd4;
  padding: 0.875rem;
}
.extended-preparation-time {
  border-left: 5px solid #fb2c36;
}
.extended-preparation-time i {
  color: #fb2c36;
}
.extended-preparation-time p {
  color: #9f0712;
}
main .nav-tabs {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
main .nav-tabs .nav-link {
  --bs-nav-tabs-link-active-border-color: transparent;
  color: #364153;
  font-weight: 600;
}
main .nav-tabs .nav-link:hover {
  --bs-nav-tabs-link-hover-border-color: transparent;
  color: var(--primary-color);
}
main .nav-tabs .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid;
}
main .button {
  border-top: 1px solid #80808042;
}
main button {
  background: linear-gradient(
    270deg,
    rgba(251, 47, 54, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
main button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
main .nav.nav-tabs {
  gap: 32px;
}
main ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
main .tab-pane {
  height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff813e #ffedd4;
}
/* Ingredients */
main .Ingredients .number {
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  color: white;
}
/* Instructions */
main .Instructions .number {
  width: 48px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: white;
}
/* Nutrition */
main .Nutrition .icon {
  width: 60px;
  height: 48px;
  font-size: 18px;
}
main .Nutrition li {
  background-color: #f9fafb;
}
/* ChefsTips */
main .ChefsTips .tip {
  background-color: #fffbeb;
  border-left: 5px solid var(--primary-color);
}
main .ChefsTips .icon {
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  color: white;
}
/* ----------------------------------------------------------------- */
