/* --------------------------- global rules ------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #364153;
  list-style: none;
}
body::selection {
  background-color: var(--primary-color);
  color: #fff;
}
/* colors */
:root {
  --primary-color: #ff5b00;
}
/* ----------------------------------------------------------------- */
/* --------------------------- tags ------------------------------- */
img {
  width: 100%;
}
/* ----------------------------------------------------------------- */
/* -------------------------- spatial class ------------------------- */
.fs-14{
  font-size: 14px;
}
.fs-18{
  font-size: 18px;
}
/* ----------------------------------------------------------------- */
/* --------------------------- navbar ------------------------------- */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 -1px 5px 0 #00000047;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-brand {
  color: #364153;
}
.logo .icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
}
.logo .text span:nth-child(1) {
  font-size: 1.5rem;
}
.logo .text span:nth-child(2) {
  font-size: 0.875rem;
  line-height: 1;
}
.navbar .navbar-collapse .navbar-nav {
  margin-left: auto;
  width: fit-content;
}
.navbar-collapse .user {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--primary-color);
}
.navbar-collapse .nav-link i {
  font-size: 1.125rem;
}
.navbar-collapse .nav-item,
.navbar-collapse .nav-link i{
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  cursor: pointer;
}
.navbar-collapse .nav-item:hover i,
.navbar-collapse .nav-item:hover{
  color: var(--primary-color);
}
.navbar-collapse .navbar-nav .nav-item:nth-child(1):after,
.navbar-collapse .navbar-nav .nav-item:nth-child(2):after,
.navbar-collapse .navbar-nav .nav-item:nth-child(3):after,
.navbar-collapse .navbar-nav .nav-item:nth-child(4):after{
  position: absolute;
  top: 3px;
  left: 40px;
  width: 100px;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(1):after{
  content: "Saved Recipes";
}
.navbar-collapse .navbar-nav .nav-item:nth-child(2):after{
  content: "Recent";
}
.navbar-collapse .navbar-nav .nav-item:nth-child(3):after{
  content: "Settings";
}
.navbar-collapse .navbar-nav .nav-item:nth-child(4):after{
  content: "Profile";
  top: 10px;
}
.navbar-toggler .fa-bars{
  font-size: 24px;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}
.navbar-toggler .fa-bars:hover{
  color: var(--primary-color);
}
/* ----------------------------------------------------------------- */
/* -------------------------- main ------------------------------- */
main {
  background-color: #fffbea;
}
/* content */
main span[class*="rounded-pill"]{
  font-size: .75rem
}
main h1{
  font-size: 2.25rem;
  font-weight: 700;
}main .content .icon div[class*="rounded rounded-3"]{
  color: var(--primary-color);
  background-color: #ffedd4;
  padding: .875rem;
}
.extended-preparation-time{
  border-left: 5px solid #fb2c36;
}
.extended-preparation-time i{
  color: #fb2c36;
}
.extended-preparation-time p{
  color: #9f0712;
}
main .nav-tabs{
  padding-bottom: 16px;
  margin-bottom: 16px;
}
main .nav-tabs .nav-link {
  --bs-nav-tabs-link-active-border-color: transparent;
  color: #364153;
  font-weight: 600;
}
main .nav-tabs .nav-link:hover {
  --bs-nav-tabs-link-hover-border-color: transparent;
  color: var(--primary-color);
}
main .nav-tabs .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid;
}
main .button{
  border-top: 1px solid #80808042;
}
main button{
  background: linear-gradient(270deg,rgba(251, 47, 54, 1) 0%, rgba(255, 105, 0, 1) 100%);
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}
main button:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* ----------------------------------------------------------------- */
